body{
    margin: 0px;
}
main{
    margin-right: 20px;
    margin-left: 20px;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(73, 73, 73);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(13, 152, 13);
}
.navbar li{
    float:left;
}