.galeria{
    display: inline-block;
    border: 1px solid rgb(179, 179, 179);
    margin: 5px;
}
.galeria .descricao{
    padding: 10px;
    text-align: center;
}
.galeria:hover{
    border: 1px solid rgb(78, 78, 78);
}
